.mySlides {display:none}

.w3-left, .w3-right, .w3-badge {cursor:pointer}

.w3-badge {height:13px;width:13px;padding:0}

.w3-animate-right{
    position:relative;
    animation:animateright 1s
}

@keyframes animateright{
    from{right:-300px;opacity:0} to{right:0;opacity:1}
}

.w3-animate-top{
    animation: animatetop 1s;
}

h1{
    background-color: #2E3FFF;
    color: #FFD22E;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: #4757FF;
}

.w3-white{
    color: #FFD22E;
    background-color: #B38C00!important;
}

.w3-hover-white:hover{
    background-color: #B38C00!important;
}

.w3-hover-text-khaki{
    color: #B38C00;
    background-color: #2E3FFF;
    /*background-color: #101EB3;*/
}